.layout {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  position: relative;
  overflow-x: hidden;
}

.main-content {
  flex: 1;
  position: relative;
  z-index: 1;
  width: 100%;
  max-width: 100%;
  box-sizing: border-box;
  background-color: white;
  margin-top: px;
}

@media (max-width: 1024px) {
  .main-content {
    max-width: 100%; /* Đặt max-width để giới hạn chiều rộng tối đa */
    margin-top: 100px;
  }
}

@media (max-width: 768px) {
  .main-content {
    max-width: 100%; /* Đặt max-width để giới hạn chiều rộng tối đa */
    margin-top: 80px;
  }
}
@media (max-width: 480px) {
  .main-content {
    max-width: 100%; /* Đặt max-width để giới hạn chiều rộng tối đa */
    margin-top: 80px;
    width: 100%;
  }
}

/* body {
  color: white !important;
} */
